/* Estilos base y tipografía */

* {
    margin: 0;
    padding: 0;
    box-sizing:content-box;
}

* {
    font-family: "Montserrat", sans-serif;
}

/* NavBar */
.navbar {
    background-color:rgb(24, 24, 24);
}

.navbar-logo {
    width: 3rem;
    height: 3rem;
}