/* Estilos base y tipografía */

* {
    margin: 0;
    padding: 0;
    box-sizing:content-box;
}

* {
    font-family: "Montserrat", sans-serif;
}

/* NavBar */
.navbar {
    background-color:rgb(24, 24, 24);
}

.navbar-logo {
    width: 3rem;
    height: 3rem;
}

/* Hero */

.hero {
    text-align: center;
    padding: 1rem;
}

.hero-title {
    font-weight: 600;
}

.hero-img {
    height: 24rem;
}

/* Formulario */
#form {
    padding: 2rem;
}

/* Contenedor principal   */  
#main-container {
    max-width: 100%;
}

/* Gráfica */

#chartContainer {
    width: 50%;
    height: 40%;
    margin: 3rem;
}

/* Tarjetas del superHero */
#hero-cards {
    width: 50%;
}
.card {
    margin: 1rem;

}

.superhero-image {
    height: 30rem;
    width: 15rem;
    margin:1rem;
    border-radius: 6px;
}

.card-header {
    font-weight: 800;
    font-size: x-large;
    color: #303030 !important;
}

.list-group {
    width: 50%;
}
